html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

.container, .post-container {
    margin: 0 auto;
    width: 375px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.logo {
    width: 127px;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.post-container {
    background-color: #ededed;
}

.posts{
    margin-top: 20px;
    background-color: #fff;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.post-user-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.name,
.username {
    font-weight: bold;
    font-size: 1rem;
}

.location {
    font-size: 0.875rem;
}

.post-image {
    width: 100%;
}

.post-actions {
    width: 105px;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

.post-actions a:hover {
    opacity: 0.5;
}

.icon {
    width: 24px;
    height: 24px;
}

.post-likes {
    padding: 0 15px;
    font-weight: bold;
    font-size: 14px;
}

.post-comments {
    padding: 10px 15px;
}